In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv("List_of_Formula_One_World_Constructors'_Champions.csv")

In [7]:
data.drop(['Tyre \n','Drivers [1] \n', 'Poles \n' ],axis=1,inplace=True)

In [9]:
data.drop([0,63,64],inplace=True)

In [11]:
data.columns = ['season', 'constructor', 'poles', 'wins', 'Podiums', 'Fastest_lap', 'Points', 'Margin_points']

In [13]:
data.reset_index(drop=True, inplace=True)

In [14]:
data

,season,constructor,poles,wins,Podiums,Fastest_lap,Points,Margin_points
0,1958.0,Vanwall,5.0,6.0,9.0,3.0,48.0,8.0
1,1959.0,Cooper,5.0,5.0,13.0,5.0,40.0,8.0
2,1960.0,Cooper,4.0,6.0,14.0,5.0,48.0,14.0
3,1961.0,Ferrari,6.0,5.0,14.0,5.0,45.0,10.0
4,1962.0,BRM,1.0,4.0,8.0,3.0,42.0,6.0
...,...,...,...,...,...,...,...,...
57,2015.0,Mercedes,18.0,16.0,32.0,13.0,703.0,275.0
58,2016.0,Mercedes,20.0,19.0,33.0,9.0,765.0,297.0
59,2017.0,Mercedes,15.0,12.0,26.0,9.0,668.0,146.0
60,2018.0,Mercedes,13.0,11.0,25.0,10.0,655.0,84.0
61,2019.0,Mercedes,10.0,15.0,32.0,9.0,739.0,235.0

In [28]:
dff = data.groupby('constructor').head(62).reset_index(drop=True)

In [29]:
dff['freq'] = dff.groupby('constructor')['constructor'].transform('count')

In [35]:
dff

,season,constructor,poles,wins,Podiums,Fastest_lap,Points,Margin_points,freq
44,2002.0,Ferrari,10.0,15.0,27.0,12.0,221.0,129.0,16
24,1982.0,Ferrari,3.0,3.0,11.0,2.0,74.0,5.0,16
21,1979.0,Ferrari,2.0,6.0,13.0,6.0,113.0,38.0,16
25,1983.0,Ferrari,8.0,4.0,12.0,3.0,89.0,10.0,16
19,1977.0,Ferrari,2.0,4.0,16.0,3.0,95.0,33.0,16
...,...,...,...,...,...,...,...,...,...
13,1971.0,Tyrrell,6.0,7.0,11.0,4.0,73.0,37.0,1
51,2009.0,Brawn,5.0,8.0,15.0,4.0,172.0,18.5,1
11,1969.0,Matra,2.0,6.0,10.0,6.0,66.0,17.0,1
4,1962.0,BRM,1.0,4.0,8.0,3.0,42.0,6.0,1
0,1958.0,Vanwall,5.0,6.0,9.0,3.0,48.0,8.0,1

In [31]:
dff.sort_values(by=['freq'], ascending=False, inplace=True)

In [32]:
dff_unique = dff.drop_duplicates(subset=['constructor'])

In [33]:
dff_unique.reset_index(drop=True, inplace=True)

In [34]:
dff_unique

,season,constructor,poles,wins,Podiums,Fastest_lap,Points,Margin_points,freq
0,2002.0,Ferrari,10.0,15.0,27.0,12.0,221.0,129.0,16
1,1994.0,Williams,6.0,7.0,13.0,8.0,118.0,15.0,9
2,1988.0,McLaren,15.0,15.0,25.0,10.0,199.0,134.0,8
3,1973.0,Lotus,10.0,7.0,15.0,7.0,92.0,10.0,7
4,2014.0,Mercedes,18.0,16.0,31.0,11.0,701.0,296.0,6
5,2010.0,Red Bull Racing,15.0,9.0,20.0,6.0,498.0,44.0,4
6,2005.0,Renault,7.0,8.0,18.0,3.0,191.0,9.0,2
7,1959.0,Cooper,5.0,5.0,13.0,5.0,40.0,8.0,2
8,1967.0,Brabham,2.0,4.0,14.0,2.0,63.0,19.0,2
9,1995.0,Benetton,4.0,11.0,15.0,8.0,137.0,25.0,1
10,1971.0,Tyrrell,6.0,7.0,11.0,4.0,73.0,37.0,1
11,2009.0,Brawn,5.0,8.0,15.0,4.0,172.0,18.5,1
12,1969.0,Matra,2.0,6.0,10.0,6.0,66.0,17.0,1
13,1962.0,BRM,1.0,4.0,8.0,3.0,42.0,6.0,1
14,1958.0,Vanwall,5.0,6.0,9.0,3.0,48.0,8.0,1

In [42]:
dff

,season,constructor,poles,wins,Podiums,Fastest_lap,Points,Margin_points,freq
0,1958.0,Vanwall,5.0,6.0,9.0,3.0,48.0,8.0,1
1,1959.0,Cooper,5.0,5.0,13.0,5.0,40.0,8.0,2
2,1960.0,Cooper,4.0,6.0,14.0,5.0,48.0,14.0,2
3,1961.0,Ferrari,6.0,5.0,14.0,5.0,45.0,10.0,16
4,1962.0,BRM,1.0,4.0,8.0,3.0,42.0,6.0,1
...,...,...,...,...,...,...,...,...,...
57,2015.0,Mercedes,18.0,16.0,32.0,13.0,703.0,275.0,6
58,2016.0,Mercedes,20.0,19.0,33.0,9.0,765.0,297.0,6
59,2017.0,Mercedes,15.0,12.0,26.0,9.0,668.0,146.0,6
60,2018.0,Mercedes,13.0,11.0,25.0,10.0,655.0,84.0,6
61,2019.0,Mercedes,10.0,15.0,32.0,9.0,739.0,235.0,6

In [41]:
dff.sort_values(by=['season'], inplace=True)

In [43]:
dff.to_csv('complete.csv')