In [2]:
import pandas as pd
import ast
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/home/snehil/work/DataVault/02_lazy_programmer_nlp/tmdb_5000_movies.csv', index_col=False)

In [4]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [5]:
pd.set_option('display.max_columns', df.shape[1])

In [6]:
df = df[['genres','keywords','original_title','overview','tagline']]

In [7]:
df.head()

,genres,keywords,original_title,overview,tagline
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,The Legend Ends
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","Lost in our world, found in another."

In [8]:
df.genres = df.genres.apply(lambda x:ast.literal_eval(x))
df.keywords = df.keywords.apply(lambda x:ast.literal_eval(x))

In [9]:
df.loc[0,['genres','keywords']]

genres      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
keywords    [{'id': 1463, 'name': 'culture clash'}, {'id':...
Name: 0, dtype: object

In [10]:
df.genres = df.genres.apply(lambda x:', '.join(list(map(lambda y:y['name'],x))))
df.keywords = df.keywords.apply(lambda x:', '.join(list(map(lambda y:y['name'],x))))

In [11]:
df.fillna('',inplace=True)

In [12]:
df.loc[0,['genres','keywords']]

genres            Action, Adventure, Fantasy, Science Fiction
keywords    culture clash, future, space war, space colony...
Name: 0, dtype: object

In [13]:
df['doc'] = df.genres+' '+df.keywords+' '+df.overview+' '+df.tagline # you can experiment with which features to take

In [14]:
df

,genres,keywords,original_title,overview,tagline,doc
0,"Action, Adventure, Fantasy, Science Fiction","culture clash, future, space war, space colony...",Avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"Action, Adventure, Fantasy, Science Fiction cu..."
1,"Adventure, Fantasy, Action","ocean, drug abuse, exotic island, east india t...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","Adventure, Fantasy, Action ocean, drug abuse, ..."
2,"Action, Adventure, Crime","spy, based on novel, secret agent, sequel, mi6...",Spectre,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,"Action, Adventure, Crime spy, based on novel, ..."
3,"Action, Crime, Drama, Thriller","dc comics, crime fighter, terrorist, secret id...",The Dark Knight Rises,Following the death of District Attorney Harve...,The Legend Ends,"Action, Crime, Drama, Thriller dc comics, crim..."
4,"Action, Adventure, Science Fiction","based on novel, mars, medallion, space travel,...",John Carter,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.","Action, Adventure, Science Fiction based on no..."
...,...,...,...,...,...,...
4798,"Action, Crime, Thriller","united states–mexico barrier, legs, arms, pape...",El Mariachi,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...","Action, Crime, Thriller united states–mexico b..."
4799,"Comedy, Romance",,Newlyweds,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,"Comedy, Romance A newlywed couple's honeymoon..."
4800,"Comedy, Drama, Romance, TV Movie","date, love at first sight, narration, investig...","Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",,"Comedy, Drama, Romance, TV Movie date, love at..."
4801,,,Shanghai Calling,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,When ambitious New York attorney Sam is sent...
4802,Documentary,"obsession, camcorder, crush, dream girl",My Date with Drew,Ever since the second grade when he first saw ...,,"Documentary obsession, camcorder, crush, dream..."

In [15]:
da = df[['doc','original_title']]

In [16]:
da

,doc,original_title
0,"Action, Adventure, Fantasy, Science Fiction cu...",Avatar
1,"Adventure, Fantasy, Action ocean, drug abuse, ...",Pirates of the Caribbean: At World's End
2,"Action, Adventure, Crime spy, based on novel, ...",Spectre
3,"Action, Crime, Drama, Thriller dc comics, crim...",The Dark Knight Rises
4,"Action, Adventure, Science Fiction based on no...",John Carter
...,...,...
4798,"Action, Crime, Thriller united states–mexico b...",El Mariachi
4799,"Comedy, Romance A newlywed couple's honeymoon...",Newlyweds
4800,"Comedy, Drama, Romance, TV Movie date, love at...","Signed, Sealed, Delivered"
4801,When ambitious New York attorney Sam is sent...,Shanghai Calling
4802,"Documentary obsession, camcorder, crush, dream...",My Date with Drew

# `Method 1`

In [17]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else :
        return wordnet.NOUN

In [18]:
lemmatizer = WordNetLemmatizer()

In [19]:
def Lemmatizer(doc):
    # tokenize using nltk
    doc = nltk.word_tokenize(doc) # string got tokenized - like split()
    # removing punctuation
    doc_temp = []
    for i in doc:
        if i.isalnum():
            doc_temp.append(i)
    doc = doc_temp
    # pos_tag using nltk
    words_and_tags = nltk.pos_tag(doc) # list of tuples
    # lemmatize using nltk
    final_doc =[]
    for words,tags in words_and_tags:
        tag = get_wordnet_pos(tags)
        word_lemma  = lemmatizer.lemmatize(words,pos=tag)
        final_doc.append(word_lemma)
    return final_doc

In [20]:
df.doc.loc[0]

'Action, Adventure, Fantasy, Science Fiction culture clash, future, space war, space colony, society, space travel, futuristic, romance, space, alien, tribe, alien planet, cgi, marine, soldier, battle, love affair, anti war, power relations, mind and soul, 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Enter the World of Pandora.'

In [21]:
Lemmatizer(df.doc.loc[0])

['Action',
 'Adventure',
 'Fantasy',
 'Science',
 'Fiction',
 'culture',
 'clash',
 'future',
 'space',
 'war',
 'space',
 'colony',
 'society',
 'space',
 'travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien',
 'planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love',
 'affair',
 'anti',
 'war',
 'power',
 'relation',
 'mind',
 'and',
 'soul',
 '3d',
 'In',
 'the',
 '22nd',
 'century',
 'a',
 'paraplegic',
 'Marine',
 'be',
 'dispatch',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission',
 'but',
 'become',
 'torn',
 'between',
 'follow',
 'order',
 'and',
 'protect',
 'an',
 'alien',
 'civilization',
 'Enter',
 'the',
 'World',
 'of',
 'Pandora']

In [22]:
# import tfidf sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english',analyzer='word',lowercase=True,tokenizer=Lemmatizer)

In [23]:
feature = tfidf.fit_transform(da.doc)

In [24]:
# to get cosine similarity
from sklearn.metrics.pairwise import linear_kernel
def give_top_10_similar_movies(dz,text):
    index = dz[dz.original_title==text].index[0]
    cosine_similarities = linear_kernel(feature[index:index+1], feature).flatten()
    dz['similar'] = cosine_similarities
    return dz.sort_values('similar',ascending=False)['original_title'].head(10).to_list()

In [25]:
give_top_10_similar_movies(da,"Spectre")

['Spectre',
 'Skyfall',
 'Restless',
 'Never Say Never Again',
 'Quantum of Solace',
 'Die Another Day',
 'From Russia with Love',
 'Dr. No',
 'Octopussy',
 'You Only Live Twice']

In [26]:
give_top_10_similar_movies(da,'Scream 3')

['Scream 3',
 'Scream',
 'Disaster Movie',
 'Grindhouse',
 'Halloween',
 '2:13',
 'Scream 2',
 'Scary Movie 2',
 'Jackass 3D',
 'Friday the 13th: A New Beginning']

# `Method 2`

In [27]:
da.head()

,doc,original_title,similar
0,"Action, Adventure, Fantasy, Science Fiction cu...",Avatar,0.005361
1,"Adventure, Fantasy, Action ocean, drug abuse, ...",Pirates of the Caribbean: At World's End,0.017717
2,"Action, Adventure, Crime spy, based on novel, ...",Spectre,0.014513
3,"Action, Crime, Drama, Thriller dc comics, crim...",The Dark Knight Rises,0.005323
4,"Action, Adventure, Science Fiction based on no...",John Carter,0.000000

In [28]:
da.doc = da.doc.apply(lambda x:x.lower())

In [29]:
import nltk
from nltk.corpus import stopwords
import string
from nltk.stem.wordnet import WordNetLemmatizer

In [30]:
### tokenize the sentence and remove punctuations

def tokenize(sent):
    sent = nltk.word_tokenize(sent)
    sent_mod = []
    for i in sent:
        if i.isalnum():
            sent_mod.append(i)
    return sent_mod

da.doc = da.doc.apply(tokenize)

In [33]:
### Removing Stopwords,Punctuation 

stopword = stopwords.words('english')

def remove_stopwords(sent):
    sent = [i for i in sent if i not in stopword and i not in string.punctuation]
    return sent

da.doc = da.doc.apply(remove_stopwords)

In [34]:
da.head()

,doc,original_title,similar
0,"[action, adventure, fantasy, science, fiction,...",Avatar,0.005361
1,"[adventure, fantasy, action, ocean, drug, abus...",Pirates of the Caribbean: At World's End,0.017717
2,"[action, adventure, crime, spy, based, novel, ...",Spectre,0.014513
3,"[action, crime, drama, thriller, dc, comics, c...",The Dark Knight Rises,0.005323
4,"[action, adventure, science, fiction, based, n...",John Carter,0.000000

In [35]:
### Applying stemming - using Lemmatizer

wnl = WordNetLemmatizer()

def lemmatiser(sent):
    words_and_tags = nltk.pos_tag(sent)
    final_sent = []
    for word,tags in words_and_tags:
        tag = get_wordnet_pos(tags)
        word_lemma  = wnl.lemmatize(word,pos=tag)
        final_sent.append(word_lemma)
    final_sent = ' '.join(final_sent)
    return final_sent.strip()

da.doc = da.doc.apply(lemmatiser)

In [36]:
da

,doc,original_title,similar
0,action adventure fantasy science fiction cultu...,Avatar,0.005361
1,adventure fantasy action ocean drug abuse exot...,Pirates of the Caribbean: At World's End,0.017717
2,action adventure crime spy base novel secret a...,Spectre,0.014513
3,action crime drama thriller dc comic crime fig...,The Dark Knight Rises,0.005323
4,action adventure science fiction base novel ma...,John Carter,0.000000
...,...,...,...
4798,action crime thriller unite barrier legs arm p...,El Mariachi,0.019262
4799,comedy romance newlywed couple honeymoon upend...,Newlyweds,0.000000
4800,comedy drama romance tv movie date love first ...,"Signed, Sealed, Delivered",0.051720
4801,ambitious new york attorney sam send shanghai ...,Shanghai Calling,0.000000
4802,documentary obsession camcorder crush dream gi...,My Date with Drew,0.000000

In [37]:
# import tfidf sklearn
tfidf = TfidfVectorizer()
feature = tfidf.fit_transform(da.doc)

In [38]:
give_top_10_similar_movies(da,"Newlyweds")

['Newlyweds',
 'Just Married',
 'A Perfect Getaway',
 'Our Family Wedding',
 'You, Me and Dupree',
 'Something Wicked',
 'For Your Consideration',
 "Devil's Due",
 'Bullet to the Head',
 'Lakeview Terrace']

the above applied sklearn linear kernel is nothing but dot product

In [39]:
linear_kernel(feature[0:1], feature)

array([[1.        , 0.02848964, 0.01731983, ..., 0.02444483, 0.00363609,
        0.        ]], shape=(1, 4803))

In [40]:
feature[0:1]* feature.T.todense()

matrix([[1.        , 0.02848964, 0.01731983, ..., 0.02444483, 0.00363609,
         0.        ]], shape=(1, 4803))